<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: headFragment">
</head>
<body>
<header th:replace="fragments/header :: headerFragment">
</header>
    <main class="container py-5">
        <div class="table-responsive">
            <table class="table text-center table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Назначение</th>
                    <th>Владелец</th>
                    <th>Начало действия</th>
                    <th>Окончание действия</th>
                    <th>Комментарий</th>
                    <th>
                        <button type="button" class="btn btn-success">
                            <i class="bi bi-plus-circle"></i>
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody class="text-start">
                <tr th:each="ed, iterStat : ${eds}" th:class="${!ed.active}?'text-secondary'">
                    <td class="text-center" th:text="${iterStat.count}">1</td>
                    <td th:text="${ed.purpose}">СУФД</td>
                    <td th:text="${ed.owner}">Игнатова Валентина Александровна</td>
                    <td th:text="${#calendars.format(ed.beginDate, 'dd.MM.yyyy')}">01.01.2021</td>
                    <td th:text="${#calendars.format(ed.expirationDate, 'dd.MM.yyyy')}">01.01.2021</td>
                    <td th:text="${ed.comment}">Установить в кассе</td>
                    <td th:class="${!ed.active}?'text-center'">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" th:if="${ed.active}">
                                <i class="bi bi-x-octagon"></i>
                            </button>
                            <button type="button" class="btn btn-warning" th:if="${ed.active}">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <a th:href="@{'eds/delete/' + ${ed.id}}" class="btn btn-secondary" th:if="${!ed.active}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
             </table>
        </div>
    </main>
</body>
</html>